<section class="section-banner" style="background-image:url(images/about-banner.jpg);">
  <div class="container">
    <div class="banner-content">
      <h1><strong>Omecto</strong> Connects People Locally</h1>
      <p>Omecto is a platform for creating new connections anytime, anywhere in a formal or informal way. People use Omecto to host & join events,reach targeted audiences, meet new people, find support, solve a problem and pursue their passions, together.</p>
      <h5><a href="#">join omecto</a></h5>
    </div>
  </div>
</section>
<section class="section-do">
  <div class="container">
    <h3>What can you do with Omecto?</h3>
    <ul class="row">
      <li class="col-md-4">
        <div class="grid-block">
          <div class="block-tag tag1"></div>
          <p>Create, search and join events in a location that suits you</p>
        </div>
      </li>
      <li class="col-md-4">
        <div class="grid-block">
          <div class="block-tag tag2"></div>
          <p>Meet with new people and improve your social skills</p>
        </div>
      </li>
      <li class="col-md-4">
        <div class="grid-block">
          <div class="block-tag tag3"></div>
          <p>Create a seminar or give a speech to your audience by gathering via Omecto</p>
        </div>
      </li>
    </ul>
  </div>
</section>
<div class="container">
  <section class="ome-join row m-0">
    <div class="col-lg-8 col-md-6 offset-lg-1">
      <h3>Follow Omecto</h3>
    </div>
    <div class="col-lg-3 col-md-6 social-links"> <a href="#"><i class="fa fa-instagram"></i></a> <a href="#"><i class="fa fa-youtube"></i></a></div>
  </section>
</div>
<section class="post-carousel">
  <div class="container-fluid">
    <h2>Want to do more of what you love?</h2>
    <div class="slider responsive">
      <div>
        <div class="post-block">
          <div class="post-c-image"><a href="#"><img src="images/post-thub.jpg" alt=""></a></div>
          <div class="post-c-text">
            <h3><a href="#">Discover events</a></h3>
            <p>See who’s hosting local events for all the
              things you love.</p>
            <h5><a href="#">JOIN OMECTO</a></h5>
          </div>
        </div>
      </div>
      <div>
        <div class="post-block">
          <div class="post-c-image"><a href="#"><img src="images/post-thub2.jpg" alt=""></a></div>
          <div class="post-c-text">
            <h3><a href="#">Start an Event</a></h3>
            <p>Create your own event, and draw
              from a community of millions.</p>
            <h5><a href="#">start an event</a></h5>
          </div>
        </div>
      </div>
      <div>
        <div class="post-block">
          <div class="post-c-image"><a href="#"><img src="images/post-thub.jpg" alt=""></a></div>
          <div class="post-c-text">
            <h3><a href="#">Discover events</a></h3>
            <p>See who’s hosting local events for all the
              things you love.</p>
            <h5><a href="#">JOIN OMECTO</a></h5>
          </div>
        </div>
      </div>
      <div>
        <div class="post-block">
          <div class="post-c-image"><a href="#"><img src="images/post-thub2.jpg" alt=""></a></div>
          <div class="post-c-text">
            <h3><a href="#">Start an Event</a></h3>
            <p>Create your own event, and draw
              from a community of millions.</p>
            <h5><a href="#">start an event</a></h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-follow">
  <div class="container">
    <h3>Follow Omecto</h3>
    <div class="follow"> <a href="#"><img src="images/utube.png" alt=""></a> <a href="#"><img src="images/instagram.png" alt=""></a> </div>
  </div>
</section>
