<section class="section-slide">
  <img src="/images/slider1.jpg" />
  <% unless user_signed_in? %>
    <%= link_to 'Join omecto', new_user_registration_path, class: 'btn-join' %>
  <% end %>
</section>
<div class="main-background">
  <section class="section-do">
    <div class="container">
      <h3>What you can do with Omecto?</h3>
      <ul class="row">
        <li class="col-md-4">
          <div class="grid-block">
            <div class="block-tag tag1"></div>
            <p>Create, search and join events in a location that suits you</p>
          </div>
        </li>
        <li class="col-md-4">
          <div class="grid-block">
            <div class="block-tag tag2"></div>
            <p>Meet with new people and improve your social skills</p>
          </div>
        </li>
        <li class="col-md-4">
          <div class="grid-block">
            <div class="block-tag tag3"></div>
            <p>Create a seminar or give a speech to your audience by gathering via Omecto</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="events-cate">
    <div class="container">
      <h2>Events Categories</h2>
      <h6>Browse events by topics you are interested in</h6>
      <ul class="row categories-all">
        <li class="col-lg-3 col-md-4 col-6">
          <div class="cat-wrap"> <img src="/images/c-img1.png" alt=""> <a class="fancybox zoom" href="/images/c-img1.png" data-fancybox-group="gallery" title="Omecto"><img src="/images/zoom.png" alt=""></a>
            <div class="hover"><a href="#">Food &amp; Drinks</a></div>
          </div>
        </li>
        <li class="col-lg-3 col-md-4 col-6">
          <div class="cat-wrap"> <img src="/images/c-img2.png" alt=""> <a class="fancybox zoom" href="/images/c-img2.png" data-fancybox-group="gallery" title="Omecto"><img src="/images/zoom.png" alt=""></a>
            <div class="hover"><a href="#">Night Life</a></div>
          </div>
        </li>
        <li class="col-lg-3 col-md-4 col-6">
          <div class="cat-wrap"> <img src="/images/c-img3.png" alt=""> <a class="fancybox zoom" href="/images/c-img3.png" data-fancybox-group="gallery" title="Omecto"><img src="/images/zoom.png" alt=""></a>
            <div class="hover"><a href="#">Outdoors &amp; Adventure</a></div>
          </div>
        </li>
        <li class="col-lg-3 col-md-4 col-6">
          <div class="cat-wrap"> <img src="/images/c-img4.jpg" alt=""> <a class="fancybox zoom" href="/images/c-img4.jpg" data-fancybox-group="gallery" title="Omecto"><img src="/images/zoom.png" alt=""></a>
            <div class="hover"><a href="#">Tech</a></div>
          </div>
        </li>
        <li class="col-lg-3 col-md-4 col-6">
          <div class="cat-wrap"> <img src="/images/c-img5.jpg" alt=""> <a class="fancybox zoom" href="/images/c-img5.jpg" data-fancybox-group="gallery" title="Omecto"><img src="/images/zoom.png" alt=""></a>
            <div class="hover"><a href="#">Self Improvement</a></div>
          </div>
        </li>
        <li class="col-lg-3 col-md-4 col-6">
          <div class="cat-wrap"> <img src="/images/c-img6.jpg" alt=""> <a class="fancybox zoom" href="/images/c-img6.jpg" data-fancybox-group="gallery" title="Omecto"><img src="/images/zoom.png" alt=""></a>
            <div class="hover"><a href="#">Sports</a></div>
          </div>
        </li>
        <li class="col-lg-3 col-md-4 col-6">
          <div class="cat-wrap"> <img src="/images/c-img7.jpg" alt=""> <a class="fancybox zoom" href="/images/c-img7.jpg" data-fancybox-group="gallery" title="Omecto"><img src="/images/zoom.png" alt=""></a>
            <div class="hover"><a href="#">Learning</a></div>
          </div>
        </li>
        <li class="col-lg-3 col-md-4 col-6">
          <div class="cat-wrap"> <img src="/images/c-img9.jpg" alt=""> <a class="fancybox zoom" href="/images/c-img9.jpg" data-fancybox-group="gallery" title="Omecto"><img src="/images/zoom.png" alt=""></a>
            <div class="hover"><a href="#">Travel</a></div>
          </div>
        </li>
        <li class="col-lg-3 col-md-4 col-6">
          <div class="cat-wrap"> <img src="/images/c-img10.jpg" alt=""> <a class="fancybox zoom" href="/images/c-img10.jpg" data-fancybox-group="gallery" title="Omecto"><img src="/images/zoom.png" alt=""></a>
            <div class="hover"><a href="#">Music &amp; Dance</a></div>
          </div>
        </li>
        <li class="col-lg-3 col-md-4 col-6">
          <div class="cat-wrap"> <img src="/images/c-img11.jpg" alt=""> <a class="fancybox zoom" href="/images/c-img11.jpg" data-fancybox-group="gallery" title="Omecto"><img src="/images/zoom.png" alt=""></a>
            <div class="hover"><a href="#">Single's Only</a></div>
          </div>
        </li>
        <li class="col-lg-3 col-md-4 col-6">
          <div class="cat-wrap"> <img src="/images/c-img12.jpg" alt=""> <a class="fancybox zoom" href="/images/c-img12.jpg" data-fancybox-group="gallery" title="Omecto"><img src="/images/zoom.png" alt=""></a>
            <div class="hover"><a href="#">Family</a></div>
          </div>
        </li>
        <li class="col-lg-3 col-md-4 col-6">
          <div class="cat-wrap"> <img src="/images/c-img13.jpg" alt=""> <a class="fancybox zoom" href="/images/c-img13.jpg" data-fancybox-group="gallery" title="Omecto"><img src="/images/zoom.png" alt=""></a>
            <div class="hover"><a href="#">Health &amp; Wellness</a></div>
          </div>
        </li>
        <li class="col-lg-3 col-md-4 col-6">
          <div class="cat-wrap"> <img src="/images/c-img14.jpg" alt=""> <a class="fancybox zoom" href="/images/c-img14.jpg" data-fancybox-group="gallery" title="Omecto"><img src="/images/zoom.png" alt=""></a>
            <div class="hover"><a href="#">Hobbies &amp; Crafts</a></div>
          </div>
        </li>
        <li class="col-lg-3 col-md-4 col-6">
          <div class="cat-wrap"> <img src="/images/c-img15.jpg" alt=""> <a class="fancybox zoom" href="/images/c-img15.jpg" data-fancybox-group="gallery" title="Omecto"><img src="/images/zoom.png" alt=""></a>
            <div class="hover"><a href="#">Fashion &amp; Beauty</a></div>
          </div>
        </li>
        <li class="col-lg-3 col-md-4 col-6">
          <div class="cat-wrap"> <img src="/images/c-img16.jpg" alt=""> <a class="fancybox zoom" href="/images/c-img16.jpg" data-fancybox-group="gallery" title="Omecto"><img src="/images/zoom.png" alt=""></a>
            <div class="hover"><a href="#">Film</a></div>
          </div>
        </li>
        <li class="col-lg-3 col-md-4 col-6">
          <div class="cat-wrap"> <img src="/images/c-img17.jpg" alt=""> <a class="fancybox zoom" href="/images/c-img17.jpg" data-fancybox-group="gallery" title="Omecto"><img src="/images/zoom.png" alt=""></a>
            <div class="hover"><a href="#">Beliefs</a></div>
          </div>
        </li>
        <li class="col-lg-3 col-md-4 col-6">
          <div class="cat-wrap"> <img src="/images/c-img18.jpg" alt=""> <a class="fancybox zoom" href="/images/c-img18.jpg" data-fancybox-group="gallery" title="Omecto"><img src="/images/zoom.png" alt=""></a>
            <div class="hover"><a href="#">LGBTQ</a></div>
          </div>
        </li>
        <li class="col-lg-3 col-md-4 col-6">
          <div class="cat-wrap"> <img src="/images/c-img19.jpg" alt=""> <a class="fancybox zoom" href="/images/c-img19.jpg" data-fancybox-group="gallery" title="Omecto"><img src="/images/zoom.png" alt=""></a>
            <div class="hover"><a href="#">Language &amp; Culture</a></div>
          </div>
        </li>
        <li class="col-lg-3 col-md-4 col-6">
          <div class="cat-wrap"> <img src="/images/c-img20.jpg" alt=""> <a class="fancybox zoom" href="/images/c-img20.jpg" data-fancybox-group="gallery" title="Omecto"><img src="/images/zoom.png" alt=""></a>
            <div class="hover"><a href="#">Photography</a></div>
          </div>
        </li>
        <li class="col-lg-3 col-md-4 col-6">
          <div class="cat-wrap"> <img src="/images/c-img21.jpg" alt=""> <a class="fancybox zoom" href="/images/c-img21.jpg" data-fancybox-group="gallery" title="Omecto"><img src="/images/zoom.png" alt=""></a>
            <div class="hover"><a href="#">Book Club</a></div>
          </div>
        </li>
        <li class="col-lg-3 col-md-4 col-6">
          <div class="cat-wrap"> <img src="/images/c-img22.jpg" alt=""> <a class="fancybox zoom" href="/images/c-img22.jpg" data-fancybox-group="gallery" title="Omecto"><img src="/images/zoom.png" alt=""></a>
            <div class="hover"><a href="#">Pets</a></div>
          </div>
        </li>
        <li class="col-lg-3 col-md-4 col-6">
          <div class="cat-wrap"> <img src="/images/c-img23.jpg" alt=""> <a class="fancybox zoom" href="/images/c-img23.jpg" data-fancybox-group="gallery" title="Omecto"><img src="/images/zoom.png" alt=""></a>
            <div class="hover"><a href="#">Arts</a></div>
          </div>
        </li>
        <li class="col-lg-3 col-md-4 col-6">
          <div class="cat-wrap"> <img src="/images/c-img24.jpg" alt=""> <a class="fancybox zoom" href="/images/c-img24.jpg" data-fancybox-group="gallery" title="Omecto"><img src="/images/zoom.png" alt=""></a>
            <div class="hover"><a href="#">Seminar &amp; Talks</a></div>
          </div>
        </li>
        <li class="col-lg-3 col-md-4 col-6">
          <div class="cat-wrap"> <img src="/images/c-img8.jpg" alt=""> <a class="fancybox zoom" href="/images/c-img8.jpg" data-fancybox-group="gallery" title="Omecto"><img src="/images/zoom.png" alt=""></a>
            <div class="hover"><a href="#">Freelance Community</a></div>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>
