<section class="section-slide">
  <img src="/images/slider1.jpg" />
  <% unless user_signed_in? %>
    <%= link_to 'Join omecto', new_user_registration_path, class: 'btn-join' %>
  <% end %>
</section>
<div class="main-background">
  <section class="section-do">
    <div class="container">
      <h3>What you can do with Omecto?</h3>
      <ul class="row">
        <li class="col-md-4">
          <div class="grid-block">
            <div class="block-tag tag1"></div>
            <p>Create, search and join events in a location that suits you</p>
          </div>
        </li>
        <li class="col-md-4">
          <div class="grid-block">
            <div class="block-tag tag2"></div>
            <p>Meet with new people and improve your social skills</p>
          </div>
        </li>
        <li class="col-md-4">
          <div class="grid-block">
            <div class="block-tag tag3"></div>
            <p>Create a seminar or give a speech to your audience by gathering via Omecto</p>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="events-cate">
    <div class="container">
      <h2>Events Categories</h2>
      <h6>Browse events by topics you are interested in</h6>
      <ul class="row categories-all">
        <% @categories.each do |category| %>
          <li class="col-lg-3 col-md-4 col-6">
            <div class="cat-wrap">
              <img src=<%= category.image %> alt="">
              <div class="hover">
                <%= link_to category.title, events_path(category: category.id) %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
  </section>
</div>
