<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-3 info"> <a href="index.html"><img src="/images/f-logo.png" alt=""></a>
        <p>Omecto is a platform for creating new connections anytime, anywhere in a formal or informal way. People use Omecto to host & join events,reach targeted audiences, meet new people, find support, solve a problem and pursue their passions, together.</p>
      </div>
      <div class="col-md-3 info">
        <h3>Quick Links</h3>
        <ul>
          <li><%= link_to "About", about_path %></li>
          <li><a href="help.html">Help and Support</a></li>
          <li><a href="#">Terms And Conditions</a></li>
          <li><a href="privacy.html">Privacy And Policy</a></li>
        </ul>
      </div>
      <div class="col-md-3 info">
        <h3>Discover</h3>
        <ul>
          <li><a href="signup.html">Sign Up</a></li>
          <li><a href="login.html">Login</a></li>
        </ul>
      </div>
      <div class="col-md-3 info">
        <h3>Our Details</h3>
        <p>Omecto Connects People Locally</p>
        <address>
        <p><i class="fa fa-map-marker"></i> Kiev-Ukraine</p>
        <p><i class="fa fa-phone"></i> +38(0) 97 834 68 99</p>
        <p><i class="fa fa-envelope"></i> support@omecto.com</p>
        </address>
      </div>
    </div>
  </div>
  <div class="copyright"><a href="#"><i class="fa fa-instagram"></i></a> <a href="#"><i class="fa fa-youtube"></i></a>
    <p>&copy; 2019 Omecto. Omecto is a wholly owned subsidiary of WeWork Companies Inc.</p>
  </div>
</footer>
