<header class="header">
  <div class="container">
    <div class="icon-menu"><i class="fa fa-bars"></i></div>
    <figure class="logo"> <a class="navbar-brand" href="index.html"><img src="/images/logo.png" alt="Omecto" title="Omecto"></a> </figure>
    <div class="group-sign">
      <ul class="d-flex align-items-center">
        <li><a href="price.html">upgrade now</a></li>
        <% if user_signed_in? %>
          <li><a href="#"><i class="fa fa-user"></i><%= "#{current_user.first_name} #{current_user.last_name}" %></a></li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>
              Sign Out
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to new_user_session_path do %>
              <i class="fa fa-user"></i>
              Login
            <% end %>
          </li>
          <li>
            <%= link_to new_user_registration_path do %>
              <i class="fa fa-user-plus"></i>
              Sign up
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="group-element d-flex"><a class="btn-socials" href="events.html">events</a> <a class="btn-event" href="event-creation.html">Create an event</a>
      <div class="notify">
        <ul>
          <li><a href="#"><i class="fa fa-bell-o"></i></a></li>
          <li><a href="message.html"><i class="fa fa-envelope-o"></i></a></li>
          <li><a href="#"><i class="fa fa-user-o"></i></a>
            <div class="profile-drop"> <a href="my-profile.html"><span class="d-icon"><i class="fa fa-user" aria-hidden="true"></i></span> my profile</a> <a href="edit-profile.html"><span class="d-icon"><i class="fa fa-edit" aria-hidden="true"></i></span> edit profile</a> <a href="my-socials.html"><span class="d-icon"><i class="fa fa-instagram" aria-hidden="true"></i></span> my socials</a> <a href="#"><span class="d-icon"><i class="fa fa-sign-out" aria-hidden="true"></i></span> logout</a> </div>
          </li>
        </ul>
      </div>
      <a class="search1" href="#"><i class="fa fa-search"></i></a> </div>
  </div>
  <div class="event-btn-group">
   <div class="container">
    <a href="event-creation.html">Create an event</a>
    <a href="events.html">events</a>
   </div>
  </div>  
</header>
<nav class="navigation">
  <div class="icon-close"><a>CLOSE</a><i class="fa fa-close"></i> </div>
  <ul>
    <li><a href="blog.html">Blog</a></li>
    <li><a href="about.html">About</a></li>
  </ul>
  <div class="group-mobile-btn"> <a class="btn-event" href="login.html">login</a> <a class="btn-event" href="signup.html">sign up</a></div>
</nav>
